.site-title {
    background-color: $color-theme-dark-light;
    color: $color-white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: $color-theme;
            font-family: $font-roboto;
            font-size: $font-size-24;
            font-weight: $font-weight-medium;
            margin: 0;
        }

        nav ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .breadcrumb {
            list-style: none;
            margin: 0;

            li {
                display: inline;
                font-size: $font-size-18;

                +li::before {
                    padding: 0 0.7rem 0 1rem;
                    color: $color-white;
                    content: "/\00a0";
                }

                a {
                    color: $color-theme;
                    text-decoration: none;

                    &:hover {
                        color: $color-theme-light;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}