.new-customer {
    background-color: $color-gray-1;
    margin-top: 3.3rem;

    .container {

        .new-customer-text {
            margin-top: 5rem;
            width: 28.125rem;

            p {
                color: $color-white;
                font-size: $font-size-14;
                line-height: 1.8em;
                margin-top: 0.7rem;
            }
        }

        .discount-box {
            width: 17rem;
            background-color: $color-theme;
            color: $color-white;
            padding-top: 5rem;
            text-align: center;
            height: 26.125rem;

            h2 {
                font-size: $font-size-60;
                font-family: $font-play;
                font-weight: $font-weight-bold;

                span {
                    font-size: $font-size-36;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

.new-customer-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    gap: 6.5rem;

}