.top-menu {
    background-color: $color-theme;
    color: $color-white;
    height: 2.5rem;

    >.container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .site-settings {
        display: flex;

        .dropdown-theme {
            background-color: $color-theme;
            color: $color-white;

            i {
                margin-left: 0.5rem;
            }

            button {
                background-color: $color-theme;
                color: $color-white;
                border: none;
                margin: 0;
                padding: 0 1rem 0 0;

                &:hover {
                    color: $color-theme-dark;

                }
            }

            .dropdown-menu {
                background-color: $color-theme;
                color: $color-white;
                border: none;
                width: 15.625rem;
                margin-top: 3rem;

                .dropdown-item {
                    background-color: $color-theme;
                    color: $color-white;
                    border: none;
                    width: 100%;
                    margin: 0;

                    &:hover {
                        background-color: $color-theme-dark;
                        color: $color-white;
                    }
                }
            }
        }
    }

    .menu-links {
        display: inline;

        .links {
            display: inline;
        }

        a {
            color: $color-white;
            text-decoration: none;
            margin: 0 1.2rem;

            &:hover {
                color: $color-theme-dark;
            }
        }
    }

    .social-media {
        margin-left: 1rem;
        font-size: $font-size-14;

        a {
            margin: 0 0.1rem 0.3rem;

            &:last-child {
                margin: 0 0.1rem 0.3rem;
            }

            i {
                font-size: 1rem;
            }
        }
    }
}