html,
body {
    font-size: $font-size-16;
    line-height: 1.5;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-theme-dark;
}

.bg-theme {
    background-color: $color-theme;
}